.body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: pink;
    background-color: #F7E7D4;
    color: #FB8604;
    height: 15vw;
    font-size: 1.6vw;
    font-weight: bold;
}

.center-text {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.logo {
    background-color: #FB8604;
    color: white;
}

