body {
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
}

.main-header, main, .image-list-container {
    margin: 20px;
    background-color: pink;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 3px solid #000000;
}

.list-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5;
    width: 30em;
    border: 3px solid #000000;
    list-style: none;
}


li {
    float: left;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
}

.list-container :hover {
    text-decoration: underline;
}

main {
    border: 3px solid #000000;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-list-container {
    border: 3px solid #000000;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box1 {
    display: flex;
    min-width: 50%;
    align-items: center;
    background-color: blue;
    height: 30em;
}

.box2 {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    align-items: cenyter;
    background-color: blueviolet;
}

.image-size {
    max-width: 100%;
    max-height: 100%;
    
    object-fit: cover;
    vertical-align: bottom;
}



