body {
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
}

.main-header, main{
    padding: 60px;
    background-color: pink;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 3px solid #000000;
}

.list-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5;
    width: 30em;
    border: 3px solid #000000;
    list-style: none;
}


li {
    float: left;
    padding: 30px;
    text-align: center;
    font-size: 1.5em;
}

.list-container :hover {
    text-decoration: underline;
}

main {
    border: 3px solid #000000;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



